<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blogs</title>
</head>
<body>
    {{> header }}
    <h2>Blogs</h2>
    {{#each blogs}}
        <div>
            <p>Id: {{id}}</p>
            <p>Title: {{title}}</p>
            <p>Message: {{id}}</p>
        </div>
    {{/each}}
    {{> footer }}
</body>
</html>